@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>The phonebook site as an easy way for you to save contacts, which might be forgotten after a time.</p>
<p>Create an account and start the journey.</p>
<p>If you already have one - log in!</p>
