@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>If you don't know what to do with your phone contacts, just store them in this site. A contact can only be saved if you have an account or are logged in. If not - register and start creating your own phonebook list with all the numbers of your friends.</p>
<h1>WARNING:</h1> Don't try to hack the site if you're a user or you'll be banned forever.