@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Phonebook</h1>
    <p class="lead">Here you can store or find a contact based on your wishes.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome, stranger!</h2>
        <p> 
            You've just entered the Phonebook website, where you can find as well as create new contacts. In order to see any saved contacts, please log in your profile.
        </p>
    </div>
</div>
